header{
.header__wrapper{
  width: 100%;
  height: fit-content;
direction: rtl;
 
  .header__center {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;

    /* flex-flow: row wrap; */
    .header__center__logo {
      width: 10%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
     
      padding-right: 20px;
      align-items: center;
      padding-left: 20px;
    }

    .header__center__search {
      width: 75%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      height: inherit;

      & input[type="text"] {
        width: 600px;
        height: 40px;
        background-color: #f0f0f1;
        border: unset;
        border-radius: 5px;
        padding-right: 30px;
        outline: none;
        &::placeholder {
          font-family: var(--fontFamily);
        }
      }
    }
    .header__center__login {
      width: 15%;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      & a {
        display: flex;
        justify-content: center;
        width: 140px;
        align-items: center;
        column-gap: 5px;
        height: 40px;
        border: 1px solid lightgray;
        text-align: center;
        font-family: IranYekan;
        text-decoration: unset;
        font-size: 12px;
        border-radius: 10px;
        color: #0c0c0c;
        font-weight: bold;
        & span {
          display: inline-block;
          width: 2px;
          height: 15px;
          background-color: #0c0c0c;
        }
      }
      .line {
        display: inline-block;
        width: 1px;
        height: 30px;
        background-color: lightgray;
      }
      .cart {
        all: unset;
      }
    }
  }
  .header__menu {
    display: flex;
    width: inherit;
    height: 40px;
    margin-top: 80px;
    /* position: relative;
    top: 80px;
z-index: 100; */
    .right {
      display: flex;
      flex-flow: row wrap;
      width: 80%;
      height: inherit;
      padding-right: 20px;
      & nav {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        column-gap: 20px;
       
        & div {
          width: fit-content;
          height: inherit;
          & a {
            display: block;
            width: fit-content;
            padding: 0 5px;
            text-decoration: none;
            font-family: var(--fontFamily);
            font-size: 10px;
            line-height: 40px;
            color: grey;
            display: flex;
            align-items: center;
            column-gap: 5px;
            display: flex;
            align-items: center;

            &::after{
              content: "";
              position: absolute;
              width: 0;
              background-color: #ed2e2e;
              height: 3px;
             bottom: -2px;
             transition: all 0.3s ease;
            
          }
          &:hover::after{
            width: 100%;
           }
           }
        }
      }
      .active {
        font-weight: bold;
        font-size: 13px !important;
        color: black !important;
      }
    }
    .left {
      width: 18%;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: end;
      flex-flow: row wrap;
      column-gap: 10px;
      & h5 {
        font-family: var(--fontFamily);
        color: #3f4064;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
      }
    }
  }
}
}
.seperator{
width: 1px;
height: 16px;
  background-color: #A1A3A8;
  position: relative;
  top: 13px;
 
  
}